.Navbar {
    display: flex;
    padding: 20px;
    background: #FF4236;
    color: white;
    justify-content: space-between;
}

.logo-img {
    width: 10%;
    height: auto;
}

@media (max-width: 800px) {
    .logo-img {
        width: 30%;
        height: 35%;
        margin-top: 0.5em;
    }
}